.articulo-agregar-novedad {
    display: flex;
    justify-content: center;
    /* margin-top: 80px; */
}

.contenedor-main-agregar-novedad{
    display: flex;
    flex-direction: column;
    width: 1040px;
    margin: 32px 0;
    padding: 32px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    background-color: #FFF;
}

.contenedor-title-main {
    display: flex;
    justify-content: center;
}

#descripcion, #titulo {
    width: 100% !important;
    margin: 10px 0;
}

#titulo { 
    padding: 5px;
    border-radius: 6px;
    border: 1px solid;
}

input[type="file"]::file-selector-button {
    opacity: 0;
    width: 224px;
    height: 224px;
    cursor: pointer;
}

.contenedor-img-up-novedad {
    position: relative;
    background: url(/img/img-upload.jpg);
    background-size: cover;
    width: 224px;
    height: 224px;
    cursor: pointer;
}

.contenedor-enviar {
    display: flex;
    justify-content: flex-end;
}

.contenedor-enviar button {
    padding: 5px 60px;
}