{% extends 'template-novedad.html' %}
    {% block content %}
        <section class="first-section">
            <article>
                <div class="contenedor-ruta">
                    <nav class="ruta-nav">
                        <ul>
                            <li><a href="../static/index.html">Inicio</a></li>
                            <li><i class="fa-solid fa-chevron-right"></i></li>
                            <li><a href="../static/novedades.html">Todas las novedades</a></li>
                            <li><i class="fa-solid fa-chevron-right"></i></li>
                            <li>
                                <a href="#" class="active">{{ novedad.titulo }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
            <article>
                <div class="contenedor-title">
                    <h1>{{novedad.titulo}}</h1>
                </div>
                <div class="contenedor-info">
                    <div class="contenedor-fecha">
                        <div class="fecha">
                            <span>Publicada el día: {{novedad.fechaCreacion}}</span>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <span>Compartir<i class="fa-solid fa-share" style="margin-left: 10px;"></i></span>
                        <div class="contenedor-redes">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="contenedor-main">
                    <div class="texto-principal">
                        <figure>
                            <div class="imagen-novedad-esp">
                                <img src="../static/imagenes-novedades/{{novedad.imagen_url}}"
                                    alt="Imagen de una novedad por la institucion">
                            </div>
                        </figure>
                        <span>{{ novedad.descripcion }}</span>
                        <!-- DESCRIPCION -->
                    </div>
                </div>
            </article>
        </section>
    {% endblock %}
